:root {
	font-size: 62.5%;
	--main-font:  #2A2116;
	--light-brown:  #8D5444;
	--pinkish: #CBA4A9;
	--light-green: #7D883D;

}
body {
	background-color: #EED3A0;
	margin: 0;
}
header {
	background: url("../images/calcule_img1.jpg") no-repeat fixed center;
	height: 230px;
}

header .foreground {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
header .foreground h1 {
	font-size: 3.5rem;
	color: #2A272B;
	background-color: white;
	padding: 5px;
}

nav {
	display: flex;
	width: 45%;
	justify-content: center;
	font-size: 2.5rem;
}

nav div {
	background-color: white;
	padding: 5px;
	cursor: pointer;
	margin-bottom: 5px;
	margin-right: 5px;
}


.active {
	display: block;
	border-bottom: 7px solid var(--light-green);
}

/*MAIN BELLOW*/

main {
	margin: 16px;
}

.tab-section {
	display: none;
}

.active.tab-section {
	display: block;
	border:  none;
}
.tab-section p {
	font: var(--main-font);
	font-size: 1.9rem;
	text-align: justify;
}